<div class="container mt-4">
  <h1>Edit Priority</h1>

  <%= render "form", priority: @priority %>

  <div class="mt-3">
    <%= link_to "Show", @priority, class: "btn btn-secondary" %>
    <%= link_to "Back", priorities_path, class: "btn btn-secondary" %>
  </div>
</div>
